.enclosure{
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.division{
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.avatar{
    
    width: 200px;
    height: auto;
    align-content: left;
}
.content{
    padding: 1%;
}

.division:hover{
    background-color: skyblue;
}