<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dashboard</title>
        <script src="dashboard.js"></script>
        <script src="js/web3.min.js"></script>
        <script src="js/truffle-contract.js"></script>
        <link href="dashboard.css" rel="stylesheet">
    </head>
    
    <body class="enclosure">
        <div class="division">
                <img src="images/avatar.png" class="avatar">
            <div class="content" id="account_info_container" > 
                    
            </div>
        </div>
    </body>
</html>