<!doctype html>
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Property Details</title>
    <link rel="stylesheet" href="css/icons/foundation-icons.css">
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <style>
      .spacer{height:500px;}
    </style>

</head>
  <body>

  	<div ><h1></h1></div>
  	<div class="row" style="width: 1000px;">
        <!-- CARD -->
        <div class="card" style="width: 1000px;">
          <div class="card-divider">
          	<div class = "small-6 small-centered columns">
            	<h1>Property Details</h1>
            </div>
          </div >

          <form action="/getPropertyDetails" method = "post">
        <div class = "columns medium-6">
          <label>Propery Id</label>
          <input name = "id" type="text" placeholder="Property ID">
        </div>

        <div class = "columns medium-6">
          <label>Property Title</label>
          <input name = "title" type="text" placeholder="Property Title">
        </div>

        <div class = "columns medium-12">
          <label>Overview</label>
          <input name = "overview" type="text" />
        </div>

        <div class = "columns medium-6">
          <label>Type</label>
          <select name = "type">
  			<option value="1 BHK">1 BHK</option>
  			<option value="2 BHK">2 BHK</option>
  			<option value="3 BHK">3 BHK</option>
  			<option value="4 BHK">4 BHK</option>
  			<option value="1 RK">1 RK</option>
		  </select>
        </div>

        <div class = "columns medium-6">
          <label>Carpet Area (Sq.Ft.)</label>
          <input name= "area" type = "number" placeholder="Carpet Area (Sq.Ft.)">
        </div>

        <div class = "columns medium-6">
          <label>Rate Per Sq.Ft.</label>
          <input name = "rate" type = "number" placeholder="Rate Per Sq.Ft.">
        </div>

        <div class = "columns medium-6">
          <label>Total Cost</label>
          <input name = "total" type = "number" placeholder="Total Cost">
        </div>

        <fieldset class="fieldset">
          <legend>Location</legend>
          <div class = "columns medium-4">
          	<label>Street</label>
          	<input name = "street" type="text" placeholder="Street">
          </div>
          <div class = "columns medium-4">
          	<label>City</label>
          	<input name = "city" type="text" placeholder="City">
          </div>
          <div class = "columns medium-4">
          	<label>State</label>
          	<input name = "state" type="text" placeholder="State">
          </div>
        </fieldset>


        <fieldset class="fieldset">
          <legend>Amenities</legend>
          <div class = "columns medium-3">
          	<label>24 Hr Water Supply</label>
          	<input name = "24-hour-water-supply" type="checkbox">
          </div>
          <div class = "columns medium-3">
          	<label>24 Hr Security</label>
          	<input name = "24-hour-security" type="checkbox">
          </div>
          <div class = "columns medium-3">
          	<label>Club House</label>
          	<input name = "club-house" type="checkbox">
          </div>

          <div class = "columns medium-6">
          	<label>Firefighting Equipment</label>
          	<input name = "fire-fighting-equipment" type="checkbox">
          </div>

          <div class = "columns medium-3">
          	<label>Kid's Play Area </label>
          	<input name = "kids-play-ground" type="checkbox">
          </div>
          <div class = "columns medium-3">
          	<label>Wifi Connectivity</label>
          	<input name = "Wifi Connectivity" type="checkbox">
          </div>

          <div class = "columns medium-3">
          	<label>Meditation Center</label>
          	<input name = "Meditation Center" type="checkbox">
          </div>

          <div class = "columns medium-3">
          	<label>Senior Citizen Park </label>
          	<input name = "Senior Citizen Park" type="checkbox">
          </div>
          <div class = "columns medium-3">
          	<label>Power Backup</label>
          	<input name = "Power Backup" type="checkbox">
          </div>
          <div class = "columns medium-6">
          	<label>Jogging Amenities</label>
          	<input name = "Jogging Amenities" type="checkbox">
          </div>

        </fieldset>



        <div class="columns medium-6">
        	<button id = "submitButton" class="button expanded large">Submit</button>
        </div>
    </form>


    </div>
    <div class="spacer"></div>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
     <script src="js/app1.js"></script>
   <script src="js/app.js"></script>


  </body>
 </html>
