<!DOCTYPE html>
<html>
	
	<head>
	
		
	</head>

	<body>
		<!-- <input type="text" id="owner_addr" placeholder="owner_addr">
		<input type="text" id="property_id" placeholder="property_id">
		<button onclick="onButtonAdd()">Add Property</button>
		<br>
		<input type="text" id="prop_id" placeholder="property_id">
		<button onclick="onButtonBuy()">Buy Property</button>
		<br>
		<input type="text" id="prop_id" placeholder="property_id">
		<input type="text" id="years" placeholder="No of years">
		<input type="text" id="weeks" placeholder="No of weeks">
		<input type="text" id="days" placeholder="No of days">
		<button onclick="onButtonLease()">Lease Property</button>
 -->
		<br>
		<input type="text" id="prop_id_get_owner" placeholder="property_id">
		<button onclick="onButtonGetOwner()">Get Owner</button>

		<br>
		<input type="text" id="account_number" placeholder="account number">
		<button onclick="onButtonGetProperties()">Get Properties</button>

		<br><br><br><br>
		<input type="text" id="amount" placeholder="auction amount">
		<input type="text" id="prop_id" placeholder="property id">
		<button onclick="onButtonPropertyAuction()">Submit</button>

		<br>
		<br>
		<input type="text" id="prop_id" placeholder="property id">
		<button onclick="AuctionResults()">End Auction</button>
		
		 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/web3.min.js"></script>
    <script src="js/truffle-contract.js"></script>
    <script src="js/app1.js" ></script>
	</body>

</html>